body{
    width: calc(1920/1920*100vw);
    height: calc(1080/1080*100vh);
    margin: 0;
    
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../sources/source_page_55/background-coffe.png');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns:  1fr 1fr ;
    
}

.items{
    
    width: 100%;
    height: 100%;
}

.items:nth-child(1) {
    left: 0;
    width: 50vw;
}

.items:nth-child(1) h1 {
    font-family: 'Poppins';
    font-size: 7rem;
    white-space: nowrap;
    line-height: 1.3;
    padding: 7vh 0 0 4vw;
}
.items:nth-child(1) p {
    font-family: 'Poppins';
    font-size: 2.2rem;
    white-space: nowrap;
    line-height: 1.3;
    padding:15vh 0 0 4vw;
}
.items :nth-child(2){
    margin: 0;
    right: 0;
    width: 50vw;
}
.Caffe{
    transform: translate(20%,10%);
    width:35vw;
    height: auto;
}
.coffe{
    width: 20vw;
    height: auto;
}
@media  (max-width: 1920px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7vw; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw;
    }
    .items:nth-child(1) p {
        font-size: 2vw;
        padding:12vh 0 0 4vw;
    }
}
@media  (max-width: 1750px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 6.8vw; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2vw; /* Tamaño de fuente para el párrafo */
        padding:13vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media  (max-width: 1650px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 6.5vw; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2vw; /* Tamaño de fuente para el párrafo */
        padding:14vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media  (max-width: 1500px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7vw; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.2vw; /* Tamaño de fuente para el párrafo */
        padding:14vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media  (max-width: 1400px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7.5vw; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2vw; /* Tamaño de fuente para el párrafo */
        padding:18vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 1368px) and (max-height: 912px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7vw; /* Tamaño de fuente para el título */
        padding: 8vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.4vw; /* Tamaño de fuente para el párrafo */
        padding:10vw 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 1366px) and (max-height: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7.5vw; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.2vw; /* Tamaño de fuente para el párrafo */
        padding: 18vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 1280px) and (max-height: 800px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 12vh; /* Tamaño de fuente para el título */
        padding: 7vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 4vh; /* Tamaño de fuente para el párrafo */
        padding: 17vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media screen and  (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7.5vw; /* Tamaño de fuente para el título */
        padding: 10vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.6vw; /* Tamaño de fuente para el párrafo */
        padding:21vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 1180px) and (max-height: 820px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 6.5rem; /* Tamaño de fuente para el título */
        padding: 4% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.8rem; /* Tamaño de fuente para el párrafo */
        padding: 20% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 1080px) and (max-height: 1080px) {
    .container {
        max-width: 100%;
        max-height: 1080px; /* Establecer la altura máxima en 1080px */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        padding: 10vh 0 0 4vw;
        font-size: 8vw; 
    }
    .items:nth-child(1) p {
        padding: 24vh 0 0 4vw;
        font-size: 2.8vw; 
    }
}
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 8vw; /* Tamaño de fuente para el título */
        padding: 12vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.1vh; /* Tamaño de fuente para el párrafo */
        padding: 36vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 5.3rem; /* Tamaño de fuente para el título */
        padding: 12% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.6rem; /* Tamaño de fuente para el párrafo */
        padding: 25% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 1024px) and (max-height: 600px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 5.3rem; /* Tamaño de fuente para el título */
        padding: 0% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.4rem; /* Tamaño de fuente para el párrafo */
        padding: 10% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 7.5vw; /* Tamaño de fuente para el título */
        padding: 13vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.3vw; /* Tamaño de fuente para el párrafo */
        padding:32vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 932px) and (max-height: 430px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 4.3rem; /* Tamaño de fuente para el título */
        padding: 2% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.3rem; /* Tamaño de fuente para el párrafo */
        padding: 3.5% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 915px) and (max-height: 412px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 4rem; /* Tamaño de fuente para el título */
        padding: 2% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.25rem; /* Tamaño de fuente para el párrafo */
        padding: 3.5% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 912px) and (max-height: 1368px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 6.5vh; /* Tamaño de fuente para el título */
        padding: 9vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.89vh; /* Tamaño de fuente para el párrafo */
        padding: 36vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 896px) and (max-height: 414px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 3.9rem; /* Tamaño de fuente para el título */
        padding: 4% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.25rem; /* Tamaño de fuente para el párrafo */
        padding: 5% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 820px) and (max-height: 1180px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 8vw; /* Tamaño de fuente para el título */
        padding: 15vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding:35vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media screen and  (max-width: 800px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 8.5vw; /* Tamaño de fuente para el título */
        padding: 12vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding:32vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 768px) and (max-height: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 9vw; /* Tamaño de fuente para el título */
        padding: 9vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2vh; /* Tamaño de fuente para el párrafo */
        padding: 38vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 768px) and (max-height: 1000px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 9vw; /* Tamaño de fuente para el título */
        padding: 9vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2vh; /* Tamaño de fuente para el párrafo */
        padding: 40vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 750px) and (max-height: 1000px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 8vw; /* Tamaño de fuente para el título */
        padding: 11vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2vh; /* Tamaño de fuente para el párrafo */
        padding: 35vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 650px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 9.5vw; /* Tamaño de fuente para el título */
        padding: 11vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.6vh; /* Tamaño de fuente para el párrafo */
        padding: 40vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 740px) and (max-height: 360px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 3.5rem; /* Tamaño de fuente para el título */
        padding: 1% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.05rem; /* Tamaño de fuente para el párrafo */
        padding: 8% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 720px) and (max-height: 540px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 4.2rem; /* Tamaño de fuente para el título */
        padding: 3% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1.3rem; /* Tamaño de fuente para el párrafo */
        padding: 28% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media screen and  (max-width: 700px) and (max-height:800px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 8.5vw; /* Tamaño de fuente para el título */
        padding: 13vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding:38vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 667px) and (max-height: 375px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 3.3rem; /* Tamaño de fuente para el título */
        padding: 2% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 1rem; /* Tamaño de fuente para el párrafo */
        padding: 16% 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 663px) and (max-height: 280px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 2.9rem; /* Tamaño de fuente para el título */
        padding: 0% 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 0.9rem; /* Tamaño de fuente para el párrafo */
        padding: 2% 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 540px) and (max-height: 720px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 9vw; /* Tamaño de fuente para el título */
        padding: 10vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 35vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 430px) and (max-height: 932px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding: 13vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 40vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 412px) and (max-height: 915px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding: 13vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 40vh 0 0 4vw; /* Padding para el párrafo */
    }
}
@media only screen and (max-width: 414px) and (max-height: 896px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding: 13vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 40vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding: 12vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 45vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding: 11vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 38vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding:11vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 42vh 0 0 4vw; /* Padding para el párrafo */
    }
}

@media only screen and (max-width: 280px) and (max-height: 653px) {
    .container {
        width: 100%;
        max-width: 100%;
        max-height: 100%; /* Reducir la altura al 90% */
        background-size: cover;
    }
    .items:nth-child(1) h1 {
        font-size: 10vw; /* Tamaño de fuente para el título */
        padding: 15vh 0 0 4vw; /* Padding para el título */
    }
    .items:nth-child(1) p {
        font-size: 2.8vw; /* Tamaño de fuente para el párrafo */
        padding: 40vh 0 0 4vw; /* Padding para el párrafo */
    }
}